* {
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}

.app {
    width: 100%;
    max-width: 750px;
    margin: 50px auto;
}

.app .title {
    width: 60%;
    height: 40px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 20px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app .content {
    width: 95%;
    height: 100px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 20px;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
